

#apartment-page{
  margin-bottom: 0;
}

.slideshow-container {
    position: relative;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .slideshow-images {
    position: relative;
    height: 440px;
    
    img#apt-pictures {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }
  
  .arrows {
    position: static; 
    width: 100%;
    height: 100%;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
    padding: 15px;
    
    &.left-arrow {
      left: 25px; 
    }
    
    &.right-arrow {
      right: 25px; 
    }
  }
  
  .image-counter {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 143%;
    color: white;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 18px;
  }

  //mobile styles
  @media screen and (max-width: 768px) {
    .slideshow-container {
      height: 100%;
      border-radius: 10px;
    }
  
    .slideshow-images {
      height: 100%;
      
      img#apt-pictures {
        height: 100%;
        border-radius: 10px;
      }
    }
  button img{
    width: 24px;
    height: 24px;
  }

  .arrow.left-arrow {
    left:-10px;
  }

  .arrow.right-arrow {
    right: -10px;
  }
  
    .image-counter {
      display: none;
    }
  }