.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.collapse-margin {
  margin: 60px 200px 25px 200px;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF6060;
  border-radius: 5px;
  padding-left: 1rem;
}

#collapse-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collapse-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin: 0;
}


#collapse-item {
  margin: 0 0 25px 0;
}

#collapse-arrow {
  cursor: pointer;
  margin: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.collapse-item-content {
  z-index: 1;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  overflow: hidden;
  background-color: #F6F6F673;
  opacity: 0.9;
  padding: 0 1rem;
  transition: max-height 0.4s ease-out, padding 0.5s ease;
}

.collapse-item-content.open {
  max-height: 500px;
  padding: 1rem;
}

.collapse-item-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.collapse-item-content.open p {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
  /* Delayed for smooth appearance */
}

// specific for the integration in apartment page

.for-apartment-page {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 30px;

  ul {
    padding-left: 5px;
  }

  li {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20px;
    width: 100%;
    list-style: none;
  }
}

// mobile styles
@media screen and (max-width: 768px) {


  .for-apartment-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    #title-container {
      height: 30px;
      min-height: unset;
      padding: 5px 10px;
    }

    #collapse-arrow {
      margin: 5px;
    }

    h3 {
      font-size: 13px
    }

    ul {
      padding-left: 5px;
    }

    p {
      font-size: 14px;
    }

    li {
      font-size: 14px;
    }
  }

  .collapse {
    height: auto;
  }

  #collapse-list {
    width: 100%;
    height: auto;
  }
  
  .collapse-item-title{
     font-size: 13px
  }

  #title-container {
    height: 30px;
    min-height: unset;
    padding: 5px 10px;
  }
  .collapse-item-content p{
   font-size: 14px;
  }

  #collapse-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  // border styling 
  .collapse-margin {
    margin: 35px 20px 0 20px;
  }
}