#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#logo-container {
    max-width: 250px;
    max-height: 250px;
}

#navigation-container {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

#navigation-list{
    display: flex;
    gap: 60px;
    padding: 20px
}

#navigation-list a {
    color: black;
    text-decoration: none;
}

#navigation-list a.current {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-underline-offset: 3px;
}

// 
@media screen and (max-width: 768px) {
    #header {
        align-items: center;
        max-width: fit-content;
    }
    .mobile-header {
        display: flex;
        max-width: 80%;
        align-items: center;
    }
    .header-logo {
        width: 145px;
        height: 45px;
    }

    #navigation-list {
        flex-direction: row;
        gap: 20px;
        padding: 0 0 0 50px;
    }

    #navigation-list a {
        font-size: 12px;
        text-transform: uppercase;
    }
    
}