#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-logo {
    max-width: 250px;
    max-height: 250px;
}

#navigation {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
}

.current {
    text-decoration: underline;
}