#title-card {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

#banner-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(60%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#banner-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

#title-card h1 {
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: black 1px 1px 1px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// mobile styles
@media screen and (min-width: 320px) and (max-width: 767px)  {
  #title-card {
    height: 110px;
    border-radius: 10px;
    justify-content: flex-start;
  }
  
  #banner-img {
    height: inherit;
    border-radius: 10px;
  }
    
  
  #title-card h1{
    width: 100%;
    font-size: 24px;
    text-align: left;
    padding-left: 16px;
    line-height: normal;
    vertical-align: bottom;
    display: grid;
    grid-template-columns: auto auto 1fr;
  }

 #title-card h1 > :first-child {
    grid-column: 1;
    grid-row: 1;
  }
  
  #title-card h1 .comma {
    grid-column: 2;
    grid-row: 1;
  }
  
  #title-card h1 > :last-child {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
}

@media screen and (min-width:768px) and (max-width: 1439px) {
 #title-card {
    margin-top:10px;
    height: 150px;
    border-radius: 10px;
    justify-content: flex-start;
  }
  
  #banner-img {
    height: inherit;
    border-radius: 10px;
  }
    
  
  #title-card h1{
    width: 100%;
    font-size: 24px;
    text-align: left;
    padding-left: 16px;
    line-height: normal;
    vertical-align: bottom;
    display: grid;
    grid-template-columns: auto auto 1fr;
  }

 #title-card h1 > :first-child {
    grid-column: 1;
    grid-row: 1;
  }
  
  #title-card h1 .comma {
    grid-column: 2;
    grid-row: 1;
  }
  
  #title-card h1 > :last-child {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
}